{% extends "base.html" %}
{% block content %}


<h2 class="center-align black-text">Add review</h2>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_review') }}">
        <div class="card-panel deep-orange accent-2">

            <!-- Review -->
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="far fa-comment-alt prefix"></i>
                            <textarea id="review" class="materialize-textarea validate" name="review" maxlength="150"
                                minlength="4" required></textarea>
                            <label for="review">Review:</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <button type="submit" class="col s12 offset-2 btn-large red darken-4 text-shadow">
                    Add Review<i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}