<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!-- Materialize Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    {% block styles %}
    {% endblock %}
    <title>Greatreads</title>
</head>
<body>

    <header>
        <!-- Sidenav -->
        <div class= navbar-fixed>
        <nav class="nav-extended nav-style deep-orange darken-1">
            <div class="nav-wrapper">
              <a href="{{ url_for('get_books') }}" class="brand-logo center">Greatreads</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <div>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('get_books') }}">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Books</a></li>
                <li><a href="#">Log Out</a></li>
                <li><a href="#">Log In</a></li>
                <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
              </ul>
              </div>
            </div>
          </nav>
        </div>
        <!-- Mobile Sidenav -->
          <ul class="sidenav" id="mobile-demo">
              <h3 id="mobile-nav-heading" class="left-align deep-orange-text text-darken-1">Greatreads</h3>
            <li><a href="{{ url_for('get_books') }}">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Log Out</a></li>
            <li><a href="#">Log In</a></li>
            <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
          </ul>
    </header>

    <section>
      <!-- Alert Message -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="row flash">
                <h3 class="blue-grey darken-1 center-align">{{ message }}</h3>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </section>


<main class="container">
    {% block content %}
    {% endblock %}
</main>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>