{% extends "base.html" %}
{% block content %}


    <div class="row">
        <h2 class="center-align black-text col s12">All Books</h2>
        <!-- Link to add book form -->
        {% if session.user %}
            <a href="{{ url_for('add_book') }}" class="waves-effect waves-light btn-large col s6 offset-s3 btn-success lighten-2">Add Book<i
                    class="far fa-plus-square"></i></a>
        {% endif %}
    </div>
    <div class="row">
    {% for book in books %}
        <div class="col s12">
            <div class="card horizontal">
                <!-- Book Card - Image -->
                <div class="card-image">
                    <img src="{{ book.book_cover }}" class="responsive-img" id="books-image">
                </div>
                <div class="card-stacked">
                    <!-- Book Card - Title and Author -->
                    <div class="card-content center-align">
                        <p>{{ book.book_title }} by {{ book.book_author }}</p>
                    </div>
                    <!-- Book Card - Book Details link -->
                    <div class="card-action">
                        <div class="center-align">
                            <a class="book-details" href="{{ url_for('book', book_id=book._id) }}">Book Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
    </div>


{% endblock %}